<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bryans.springboot.ms_server.mapper.VideoMapper">
    <resultMap id="map1" type="Video">
        <id property="id" column="id" javaType="INT" jdbcType="TINYINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="season" column="season" jdbcType="TINYINT"/>
        <result property="episode" column="episode" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="vid" column="vid" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="map2" type="VideoInfo">
        <id property="vID" column="vID" jdbcType="INTEGER"/>
        <result property="vName" column="vName" jdbcType="VARCHAR"/>
        <result property="vUrl" column="vUrl" jdbcType="VARCHAR"/>
        <result property="vImage" column="vImage" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>

